<link href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500&amp;subset=cyrillic-ext,latin-ext" rel="stylesheet">
<body class="home">

<!-- WRAPPER -->
<div class="wrapper">

    <!-- HEADER -->
    <header class="header">
        <div class="row htop">
            <div class="container">
                <div class="col-xs-3">
                    <%= image_tag "innbox-logo.png" %>
                </div>
                <div class="col-xs-9">

                    <!-- Mainmenu -->
                    <nav class="navbar mainmenu pull-right">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <button type="button" class="pclose" data-toggle="collapse" data-target="#navbar-collapse"></button>
                            <ul class="nav navbar-nav pull-right">
                                <li class="current-menu-item dropdown">
                                    <a href="<%= home_path %>"  >Home</a>
                                </li>
                                <li class="">
                                    <a href="<%= login_path %>" class="" >Getting Started</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- /.mainmenu -->
                </div>
            </div>
        </div>
    </header>
    <!-- /.header -->

    <!-- CONTENT -->
    <div class="content container">
        <!-- ONESLIDER -->
        <article class="container oneslider woo-slider slider">
            <ul>
                <li class="bg-sl-4 medium-size">
                    <div class="divtable">
                        <div class="divcell">
                            <div class="col-xs-6 col-xs-offset-1">
                                <h2>about Innbox</h2>
                                <p>The 'C' in our CMS stands for Customizability! No.. we're not talking about the content, but even the script! Alter it to your needs to make the site appear the way you want it to!!</p>
                                <a href="<%= login_path %>" class="btn btn-default">Getting Started</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="#" class="arrow prev"><i></i></a>
            <a href="#" class="arrow next"><i></i></a>
        </article>
        <!-- /.oneslider -->

        <!-- ONESLIDER -->
        <article class="container oneslider slider padding-top-big">
           <div class="row"> <div class="col-sm-3 col-sm-offset-1 m-center"><h3>Tic Tac Toe</h3></div><div class="col-sm-8 ">
            <div class="row"> <div class="col-sm-10  m-center"><p><strong>1.</strong>&nbsp;Log In To The Innbox (like duh!)! </p></div></div>
            <div class="row"><div class="col-sm-10  m-center"><p><strong>2.</strong>&nbsp;Pour Out All The Creativity in the Text-Box! (We'd rather say, 'type out your contents'!) Attachment </p></div></div>
            <div class="row"><div class="col-sm-10  m-center"><p><strong>3.</strong>&nbsp;Copy the Javascript Snippet and paste it at the footer!</p></div></div></div><div class="row"> <div class="col-sm-10 col-sm-offset-1 m-center"> <br/><h7>And Voila!! You have created your fully-functional page! (And if this step doesn't count, it's just three steps!!)</h7></div>
            <nav class="nav-pages left-pos"></nav>
        </article>
        <!-- /.oneslider -->

        <!-- ONESLIDER -->
        <article class="container oneslider service-slider slider text-center">
            <ul class="service_slider">
                <li>
                    <a href="" class="col-sm-4 bg-info">
                        <i class="fa fa-file-word-o" style="font-size:45px;padding-bottom:60px;"></i>
                        <h3>CMS</h3>
                        <ul>
                            <li>Our Content Management System is not as complicated as even the expansion of CMS is! With a simple and intuitive WYSIWYG interface, editing contents is surely a breeze!</li>
                        </ul>
                        <p>Our Content Management System is not as complicated as even the expansion of CMS is! With a simple and intuitive WYSIWYG interface, editing contents is surely a breeze!</p>
                    </a>
                    <a href="" class="col-sm-4 bg-default">
                        <i class="fa fa-file-image-o" style="font-size:45px;padding-bottom:60px;"></i>
                        <h3>Gallery</h3>
                        <ul>
                            <li>Pictures speak a thousand words! We thought we'll put these 'thousand words' stuff in a centralized and easy-to-access repository, where you can use them on your pages with the drag-and-drop feature!!</li>
                        </ul>
                        <p>Pictures speak a thousand words! We thought we'll put these 'thousand words' stuff in a centralized and easy-to-access repository, where you can use them on your pages with the drag-and-drop feature!!</p>
                    </a>
                    <a href="" class="col-sm-4 bg-info">
                        <i class="fa fa-file-code-o" style="font-size:45px;padding-bottom:60px;"></i>
                        <h3>Customize </h3>
                        <ul>
                            <li>The 'C' in our CMS stands for Customizability! No.. we're not talking about the content, but even the script! Alter it to your needs to make the site appear the way you want it to!!</li>
                        </ul>
                        <p>The 'C' in our CMS stands for Customizability! No.. we're not talking about the content, but even the script! Alter it to your needs to make the site appear the way you want it to!!</p>
                    </a>
                </li>
            </ul>
            <nav class="nav-pages right-pos"></nav>
        </article>
        <!-- /.oneslider -->

        <div class="no-separator"></div>

        
        <article class="container padding-top-big m-center">
            <div class="col-sm-4 col-sm-offset-1">
                <h3>Birth of Innbox</h3>
            </div>
            <div class="col-sm-6">
                <p>As Whacky as the name may sound, so was the idea during its inception!! Have you watched this video from Johnny English Reborn where Atkinson outruns vrooming cars and snazzy bikes.....all this sitting on a cool wheelchair! That was when the idea was born: How can we make something static, as dynamic as possible...and that too in a cool way! </p>

                <p>And this was born Innbox, which is nothing but the refinement of the above-said idea! With a simple interface, InnBox makes making Dynamic websites as simple as uploading a photo on Facebook!! What's more: it's just gonna work on all platforms and all technologies!! </p>

                <p>InnBox from CodeRabbits is just the beginning of what would be an amazing and exciting sojourn to make the web a beautiful, better and an easier place for everyone to be in!!</p>
            </div>
        </article>
        <!-- /.container -->

        <!-- ONESLIDER -->
        <article class="container oneslider clients-slider slider" style="margin-bottom:0px !important;padding-bottom:0px;">
            <ul data-auto="true" class="logo_slider">
                <li>
                    <div class="col-xs-12 text-center bg-default">
                        <div class="divtable">
                            <div class="divcell">
                                <blockquote>
                                    <p>“ Game snake applies to the general game design original was not named snake ”</p>
                                    <cite>TANNY SOONER</cite>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-xs-12 text-center bg-default">
                        <div class="divtable">
                            <div class="divcell">
                                <blockquote>
                                    <p>“ Incredibly organized, easy to communicate with, responsive with next iterations ”</p>
                                    <cite>SUNNY LEVINSON</cite>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-xs-12 text-center bg-default">
                        <div class="divtable">
                            <div class="divcell">
                                <blockquote>
                                    <p>“ When feedback was needed, new versions of the logo were made very quickly ”</p>
                                    <cite>SAM NEWTON</cite>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <nav class="nav-pages right-pos"></nav>
        </article>
        <!-- /.oneslider -->

        <!-- LOGOS -->

        <!-- /.slider -->
    </div>
    <!-- /.content -->
</div>
<!-- /.wrapper -->

<!-- FOOTER -->
<footer class="footer container">
    <div class="row">
        <div class="col-sm-5 text-right pull-right">
            <nav>
                <ul>
                    <li><a href="<%= root_path %>">Documentation</a></li>
                    <li><a href="<%= terms_path %>">Terms of Use</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-7">
            <p>Innbox &copy; 2015 . All right reserved. </p>
        </div>
    </div>
</footer>
<!-- /.footer -->

<!-- ScrollTop Button -->
<a href="#" class="scrolltop"><i></i></a>

<!-- Preloader -->