<link href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500&amp;subset=cyrillic-ext,latin-ext" rel="stylesheet">
<body class="home">

<!-- WRAPPER -->
<div class="wrapper">

    <!-- HEADER -->
    <header class="header">
        <div class="row htop">
            <div class="container">
                <div class="col-xs-3">
                    <a href="#" class="logo">INNBOX</a>
                </div>
                <div class="col-xs-9">

                    <!-- Mainmenu -->
                    <nav class="navbar mainmenu pull-right">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <button type="button" class="pclose" data-toggle="collapse" data-target="#navbar-collapse"></button>
                            <ul class="nav navbar-nav pull-right">
                                <li class=" dropdown">
                                    <a href="<%= home_path %>"  >Home</a>
                                </li>
                                <li class="">
                                    <a href="<%= login_path %>" class="" >Getting Started</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- /.mainmenu -->
                </div>
            </div>
        </div>
    </header>
    <!-- /.header -->

    <!-- CONTENT -->
    <div class="content container">
       <article class="container oneslider woo-slider slider" style="background-color:white;margin-top:90px;">
          <div class="divtable">
                        <div class="divcell">
                            <div class="col-xs-10 col-xs-offset-1">
                                <h2>Privacy Policy</h2>
                                <p>The 'C' in our CMS stands for Customizability! No.. we're not talking about the content, but even the script! Alter it to your needs to make the site appear the way you want it to!!</p>
                            </div>
                        </div>
                    </div>
       </article>
    </div>
</div>

<!-- FOOTER -->
<footer class="footer container">
    <div class="row">
        <div class="col-sm-5 text-right pull-right">
            <nav>
                <ul>
                    <li><a href="<%= root_path %>">Documentation</a></li>
                    <li><a href="<%= terms_path %>">Terms of Use</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-7">
            <p>Innbox &copy; 2015 . All right reserved. </p>
        </div>
    </div>
</footer>
<!-- /.footer -->

<!-- ScrollTop Button -->
<a href="#" class="scrolltop"><i></i></a>

<!-- Preloader -->
</body>
