<% provide(:title, 'Login') %>
<br/>
<div class="login-logo-w">
  <a href="<%= root_path %>" class="logo" style="font-size:42px;">
    Innbox
  </a>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <div class="widget widget-gold">
      <div class="widget-title">
        <h3 class="text-center"><i class="fa fa-lock"></i> Login</h3>
      </div>
      <div class="widget-content">
        <%= form_for(:session, url: login_path) do |f| %>
          <div class="form-group relative-w">
             <%= f.email_field :email, class: 'form-control',:placeholder => "Enter email", :required => true %>
            <i class="fa fa-user input-abs-icon"></i>
          </div>
          <div class="form-group relative-w">
            <%= f.password_field :password, class: 'form-control',:placeholder => "Password", :required => true %>
            <i class="fa fa-lock input-abs-icon"></i>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                
              </label>&nbsp;&nbsp;<%= link_to "Forgot your password?", new_password_reset_path %>
            </div>
          </div>
          <%= f.submit "Log Me In ".html_safe, class: "btn btn-gold btn-rounded btn-iconed" %>
          <div class="no-account-yet">
            Don't have an account yet? <%= link_to "Register Now", new_user_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>