<% provide(:title, 'Reset password') %>
<div class="login-logo-w">
  <a href="<%= root_path %>" class="logo" style="font-size:42px;">
    Innbox
  </a>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
          <div class="widget widget-gold">
            <div class="widget-title">
              <h3 class="text-center"><i class="fa fa-lock"></i>Reset Password</h3>
            </div>
            <div class="widget-content">
                 <form action="/password_resets/<%= params[:id] %>" accept-charset="UTF-8" method="post">
                        <%= hidden_field_tag :email, @user[:email] %>
                        <%= hidden_field_tag :uid, @user[:id] %>
                         <div class="form-group relative-w">
                           <input class="form-control" type="password" name="user[password]" id="users_password"  placeholder = "Password" required>
                          <i class="fa fa-lock input-abs-icon"></i>
                        </div>
                        <div class="form-group relative-w">
                           <input class="form-control" type="password" name="user[password_confirmation]" id="users_password_confirmation" placeholder = "Confirm Password" required>
                          <i class="fa fa-lock input-abs-icon"></i>
                        </div>
                        <input type="submit" name="Update" value="Update password" class="btn btn-gold btn-rounded btn-iconed">
                      </form>
                 </div>
          </div>
    </div>
</div>
