<% provide(:title, 'Forgot password') %>
<div class="login-logo-w">
  <a href="<%= root_path %>" class="logo" style="font-size:42px;">
    Innbox
  </a>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
          <div class="widget widget-gold">
            <div class="widget-title">
              <h3 class="text-center"><i class="fa fa-lock"></i>Forgot password</h3>
            </div>
            <div class="widget-content">
                 <%= form_for(:password_reset, url: password_resets_path) do |f| %>
                        <div class="form-group relative-w">
                           <%= f.email_field :email, class: 'form-control',:placeholder => "Enter email" , :required => true%>
                          <i class="fa fa-user input-abs-icon"></i>
                        </div>
                        <input type="submit" name="Send" value="Send Password Reset Instruction" class="btn btn-gold btn-rounded btn-iconed">
                        <div class="no-account-yet">
                          Don't have an account yet? <%= link_to "Register Now", new_user_path %>
                        </div>
                <% end %>
            </div>
          </div>
    </div>
</div>
