<div class="widget widget-green">
          <div class="widget-title">
            <div class="widget-controls"></div>
            <h3><i class="fa fa-ok-circle"></i> Content Attributes & Details</h3>
          </div>
          <div class="widget-content">
            <%= form_for(@cms_page) do |f| %>
              <% if @cms_page.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@cms_page.errors.count, "error") %> prohibited this cms_page from being saved:</h2>

                    <ul>
                    <% @cms_page.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Content Name</label> 
                    <input class="form-control" placeholder="Content Name" required="required" type="text" name="cms_page[page_name]" id="cms_page_page_name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" placeholder="Title" required="required" type="text" name="cms_page[title]" id="cms_page_title">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Textarea</label>
                <textarea id="cms_page_description" rows="20" name="cms_page[description]" cols="40"  style="visibility: hidden;"></textarea>
              </div>
              <%= f.submit "CREATE".html_safe, class: "btn btn-primary btn-rounded btn-iconed save_button" %>
              <a href="<%= cms_pages_path %>" class="button btn btn-default cancel_button"> Cancel </a>
            <% end %>
          </div>
        </div>

        <script type="text/javascript">

if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('cms_page_description'); }
</script>