<div class="main-content">
      <ol class="breadcrumb">
        <li><a href="<%= dashboard_path %>">Home</a></li>
        <li><a href="<%= cms_pages_path %>">Contents</a></li>
         <li><a href="<%= cms_page_path(@cms_page) %>"><%= @cms_page.page_name %></a></li>
        <li class="active">Edit</li>
      </ol>
      <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
    <div class="widget widget-blue">
          <div class="widget-title">
            <div class="widget-controls">
            </div>
            <h3><i class="fa fa-ok-circle"></i> Content Attributes & Details</h3>
          </div>
          <div class="widget-content">
            <%= form_for(@cms_page) do |f| %>
              <% if @cms_page.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@cms_page.errors.count, "error") %> prohibited this cms_page from being saved:</h2>

                    <ul>
                    <% @cms_page.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Content Name</label>
                    <%= f.text_field :page_name, :placeholder => "Page Name",:required => true,:id => "cms_page_page_name",:class=> "form-control"%>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Title</label>
                     <%= f.text_field :title, :placeholder => "Title",:required => true,:id => "cms_page_title",:class=>"form-control"%>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Textarea</label>
                <%= cktext_area :cms_page, :description, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'} %>
              </div>
              <%= f.submit "Update".html_safe, class: "btn btn-primary btn-rounded btn-iconed update_button" %>
               <a href="<%= cms_pages_path %>" class="button btn btn-default cancel_button"> Cancel </a>
            <% end %>
          </div>
        </div>
</div>