<div class="main-content">
    <ol class="breadcrumb">
      <li><a href="<%= dashboard_path %>">Home</a></li>
      <li class="active">Contents</li>
      <li></li>
    </ol>
      <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
    <div class="widget widget-orange">
      <div class="widget-title">
             <div class="widget-controls" style="">
                <%= link_to 'CREATE NEW CONTENT', new_cms_page_path,:class => "label label-success btn btn-success btn-rounded btn-iconed table_actions",:style => "color:white" %>
              </div>
            <h3><i class="fa fa-table"></i>All Contents</h3>
          </div>
          <div class="widget-content">
            <div class="table-responsive">
            <table class="table table-bordered table-hover" id ="cms_table">
              <thead>
                <tr>
                  <th>Content name</th>
                  <th>Title</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                 <% @cms_pages.each do |cms_page| %>
                     <td><%= cms_page.page_name %>   </td>
                    <td><%= cms_page.title %></td>
                    <td><%= link_to '<i class="fa fa-search fa-2"></i>'.html_safe, cms_page,:class => "text-success label label-success table_actions" %>
                      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_cms_page_path(cms_page),:class => "label label-info table_actions" %>
                      <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, cms_page, method: :delete, data: { confirm: 'Are you sure?' },:class => "text-danger label label-danger table_actions" %></td>
                      </tr>
                 <% end %>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>


  
<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [2],
      "bSortable": false
    }
  ];
  var dataTable = $('#cms_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>