<div class="main-content">
  <ol class="breadcrumb" style="border-bottom:0px solid grey !important;padding-bottom:0px !important;">
    <li><a href="<%= dashboard_path %>">Home</a></li>
    <li><a href="<%= cms_pages_path %>">Contents</a></li>
    <li class="active"><%= @cms_page.page_name %></li>
  </ol>
  <% if flash.present? %>
        <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
  <% end %>
  <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
      <table class="table invoice-table">
      <tbody>
        <tr>
          <th>
            <div class="ii-name">Content Name</div>
          </th>
          <td class=""><div class="ii-name"><%= @cms_page.page_name %><span class="pull-right"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_cms_page_path(@cms_page),:class => "label label-info table_actions" %></span></div>
          </td>
        </tr>
        <tr>
          <th>
            <div class="ii-name">Title</div>
          </th>
          <td class=""><%= @cms_page.title %></td>
        </tr>
        <tr>
          <th>
            <div class="ii-name">Description</div>
          </th>
          <td class=""><%= @cms_page.description.html_safe %></td>
        </tr>
      </tbody>
    </table></div>
  </div>
  <section id="layout_templates">
      <h1>Ajax call</h1>
    This section covers basic layout components: markup, classes and tags used in the theme for main skin elements. <br/><br/>
    <section id="sidebars">
    <ol>
    <li><strong>Change a part of content </strong> <br/>
      <pre class="prettyprint">
        &lt;script&gt;
          $(document).ready(function(){
            $.ajax({
                url: "http://www.innboxapi.in/api/v1/consumer/cms_pages/<%= @cms_page.id %>",
                data: { },
                type: "GET",
                dataType: 'text',
                success: function(data) { 
                  var json = $.parseJSON(data);
                  $(".ib_<%= @cms_page.page_name.downcase.gsub(' ', '_') %>_title").html(json.cms_page.title) 
                  $(".ib_<%= @cms_page.page_name.downcase.gsub(' ', '_') %>_description").html(json.cms_page.description) 
                },
                error: function() { alert('Failed!'); },
                beforeSend: setHeader
            });
          });
          function setHeader(xhr) {
            xhr.setRequestHeader('Authorization', 'Token <%= current_user['access_token'] %>');
          }
        &lt;/script&gt;
      </pre>
      <p> The json it returns</p></li>
      <pre class="prettyprint">{"cms_page":{"id":1,"page_name":"<%= @cms_page.page_name %>","title":"<%= @cms_page.title %>","description":"<%= @cms_page.description %>"}}</pre>
    <li><strong>HTML elements you have to paste </strong> <br/>
   <pre class="prettyprint">
   &lt;div class="ib_<%= @cms_page.page_name.downcase.gsub(' ', '_') %>_title"&gt;&lt;/div&gt;
   &lt;div class="ib_<%= @cms_page.page_name.downcase.gsub(' ', '_') %>_description"&gt;&lt;/div&gt;</pre></li>
    
     </ol></section>  
  </section>
  

</div>
