<div class="container_flash">
  <% flash.each do |name, msg| %>
    <% if name.to_s == "error" %>
      <div class="alert alert-danger msg_content bottom-margin">
        <i class="fa fa-warning"></i> <%= msg %>
        <a class="close close_this_alert" data-dismiss="alert">×</a> 
      </div>
    <% elsif name.to_s == "notice" %>
      <div class="alert alert-success msg_content bottom-margin">
        <i class="fa fa-check"></i> <%= msg %>
        <a class="close close_this_alert" data-dismiss="alert">×</a>
      </div>
    <% elsif name.to_s == "warning" %>
      <div class="alert alert-warning msg_content bottom-margin">
        <i class="fa fa-exclamation-circle"></i> <%= msg %>
        <a class="close close_this_alert" data-dismiss="alert">×</a>
      </div>
    <% else %>
      <div class="alert alert-info msg_content bottom-margin">
        <i class="fa fa-exclamation-check"></i> <%= msg %>
        <a class="close close_this_alert" data-dismiss="alert">×</a>
      </div>
    <% end %>
  <% end %>
</div>
  