<div class="page-header" id="thing2">
  <div class="header-links hidden-xs">

    <div class="dropdown">
      <a href="<%= user_path(current_user["id"]) %>" class="header-link clearfix">
        <div class="avatar">
          <i class="fa fa-user"></i>
        </div>
        <div class="user-name-w">
         <%= current_user["domain_name"] %>
        </div>
      </a>
    </div>

    <div class="dropdown hidden-sm hidden-xs">
      <a href="<%= logout_path %>" class="header-link"><i class="fa fa-power-off"></i> </a>
    </div>
  </div>
  <a class="logo hidden-xs" href="<%= dashboard_path %>"><%= image_tag "innbox_icon_white.png" %></a>
  <a class="menu-toggler hidden-md hidden-lg" href="#"><i class="fa fa-bars"></i></a>
  <h1><%= image_tag "innbox_logo_white.png" %></h1>
</div>