<% if controller_name != 'sessions' %>
  <%= link_to "Login", log_in_path %>&nbsp;&nbsp;&nbsp;
<% end %> 

<% unless action_name == 'new' && controller_name == 'users' %>
  <%= link_to "Sign up", new_user_path %>&nbsp;&nbsp;&nbsp;
<% end %>

<% if controller_name != 'password_resets'  %>
  <%= link_to "Forgot your password?", new_password_reset_path %><br />
<% end %>
