<div class="side" >
      <div class="sidebar-wrapper">
            <ul>
                   <li>
                        <a href="<%= dashboard_path %>" data-toggle="tooltip" data-placement="right" title="Dashboard" data-original-title="Dashboard">
                          <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li>
                          <a href="<%= cms_pages_path%>" data-toggle="tooltip" data-placement="right" title="Contents" data-original-title="Contents">
                            <i class="fa fa-file-text-o"></i>
                          </a>
                    </li>
                    <li>
                          <a href="<%= gallery_types_path %>" data-toggle="tooltip" data-placement="right" title="Image Attributes Control" data-original-title="Image Attributes Control">
                            <i class="fa fa-file-image-o"></i>
                          </a>
                    </li>
                   <% if current_user["admin"] %>
                          <li>
                            <a href="<%= settings_path%>" data-toggle="tooltip" data-placement="right" title="" data-original-title="Settings">
                              <span class="badge"></span>
                              <i class="fa fa-code-fork"></i>
                            </a>
                          </li>
                          <li>
                            <a href="<%= users_path%>" data-toggle="tooltip" data-placement="right" title="" data-original-title="Users">
                              <i class="fa fa-users"></i>
                            </a>
                          </li>
                   <% end %>
            </ul>
      </div>
</div>

<script>
$(document).on("page:fetch", function(){
  $(".main-content").html('<i class="fa fa-spinner fa-spin" style="font-size:40px;margin-top:25%;margin-left:50%"></i>');
});

</script>