<div class="widget widget-green">
          <div class="widget-title">
            <div class="widget-controls"></div>
            <h3><i class="fa fa-ok-circle"></i> Image Attributes & Details</h3>
          </div>
          <div class="widget-content">
              <%= form_for(@gallery_type) do |f| %>
                <% if @gallery_type.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@gallery_type.errors.count, "error") %> prohibited this gallery_type from being saved:</h2>

                    <ul>
                    <% @gallery_type.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="field">
                  <%= f.label :name %><br>
                  <input class="form-control" placeholder="Name" required="required" type="text" name="gallery_type[name]" id="gallery_type_name">
                </div>
                <div class="field">
                  <%= f.label :height %><br>
                  <input class="form-control" placeholder="In Pixel" required="required" type="text" name="gallery_type[height]" id="gallery_type_height">
                </div>
                <div class="field">
                  <%= f.label :width %><br>
                  <input class="form-control" placeholder="In Pixel" required="required" type="text" name="gallery_type[width]" id="gallery_type_width">
                </div>
                <div class="field">
                  <%= f.label :is_video %><br>
                  <input type="checkbox" name="gallery_type[is_video]" id="gallery_type_is_video" value="1">
                </div>
                <div class="field">
                  <%= f.label :image_type,"Media Type*(should be Unique, is used to fetch in view)"%><br>
                  <input class="form-control" placeholder="Media Type" required="required" type="text" name="gallery_type[image_type]" id="gallery_type_image_type">
                </div><br/>
                <div class="actions">
                  <%= f.submit "CREATE".html_safe, class: "btn btn-primary btn-rounded btn-iconed save_button" %>
                  <a href="<%= gallery_types_path %>" class="button btn btn-default cancel_button"> Cancel </a>
                </div>
              <% end %>
     </div>
</div>
