<div class="main-content">
      <ol class="breadcrumb">
        <li><a href="<%= dashboard_path %>">Home</a></li>
        <li><a href="<%= gallery_types_path %>">Image Attributes Control</a></li>
        <li><a href="<%= gallery_type_path(@gallery_type) %>"><%= @gallery_type.name %></a></li>
        <li class="active">Edit</li>
      </ol>
      <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
      <div class="widget widget-blue">
          <div class="widget-title">
            <div class="widget-controls">
            </div>
            <h3><i class="fa fa-ok-circle"></i> Image Attributes & Details</h3>
          </div>
          <div class="widget-content">
                <%= form_for(@gallery_type) do |f| %>
                      <% if @gallery_type.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@gallery_type.errors.count, "error") %> prohibited this gallery_type from being saved:</h2>

                          <ul>
                          <% @gallery_type.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>

                      <div class="field">
                        <%= f.label :name %><br>
                        <%= f.text_field :name ,:class => "form-control",:required => true%>
                      </div>
                      <div class="field">
                        <%= f.label :height %><br>
                        <%= f.text_field :height ,:class => "form-control",:required => true%>
                      </div>
                      <div class="field">
                        <%= f.label :width %><br>
                        <%= f.text_field :width ,:class => "form-control",:required => true%>
                      </div>
                      <div class="field">
                        <%= f.label :is_video %><br>
                         <%= f.check_box :is_video  %>
                      </div>
                      <div class="field">
                        <%= f.label :image_type,"Media Type*(should be Unique, is used to fetch in view)"%><br>
                         <%= f.text_field :image_type ,:class => "form-control",:required => true%>
                      </div><br/>
                      <div class="actions">
                        <%= f.submit "Update".html_safe, class: "btn btn-primary btn-rounded btn-iconed update_button" %>
                        <a href="<%= gallery_types_path(@gallery_type) %>" class="button btn btn-default cancel_button"> Cancel </a>
                      </div>
                    <% end %>
                </div>
           </div>

</div>