<div class="main-content">
      <ol class="breadcrumb">
        <li><a href="<%= dashboard_path %>">Home</a></li>
        <li class="active">Image Attributes Control</li>
      </ol>
      <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
    <div class="widget widget-orange">
      <div class="widget-title">
            <div class="widget-controls" >
                <%= link_to 'CREATE NEW IMAGE ATTRIBUTE', new_gallery_type_path,:class => "label label-success btn btn-success btn-rounded btn-iconed table_actions",:style => "color:white" %>
              </div>
            <h3><i class="fa fa-table"></i> Image Attributes Controls</h3>
          </div>
          <div class="widget-content">
            <div class="table-responsive">
            <table class="table table-bordered table-hover" id="gallery_type_table">
                  <thead>
                         <tr>
                                <th>Name</th>
                                <th>Height</th>
                                <th>Width</th>
                                <th>Is video</th>
                                <th>Image type</th>
                                <th></th>
                         </tr>
                  </thead>
                  <tbody>
                          <% @gallery_types.each do |gallery_type| %>
                               <tr>
                                      <td><%= gallery_type.name %></td>
                                      <td><%= gallery_type.height %></td>
                                      <td><%= gallery_type.width %></td>
                                      <td><%= gallery_type.is_video %></td>
                                      <td><%= gallery_type.image_type %></td>
                                      <td><%= link_to '<i class="fa fa-search fa-2"></i>'.html_safe, gallery_type,:class => "text-success label label-success table_actions" %>
                                            <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_gallery_type_path(gallery_type),:class => "label label-info table_actions" %>
                                            <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, gallery_type, method: :delete, data: { confirm: 'Are you sure?' },:class => "text-danger label label-danger table_actions" %></td>
                                </tr>
                         <% end %>
                   </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [5],
      "bSortable": false
    }
  ];
  var dataTable = $('#gallery_type_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>