<div class="main-content">
<ol class="breadcrumb" style="border-bottom:0px solid grey !important;padding-bottom:0px !important;">
<li><a href="<%= dashboard_path %>">Home</a></li>
<li><a href="<%= gallery_types_path %>">Image Attributes Controls</a></li>
<li class="active"><%= @gallery_type.name %></li>
</ol>
<% if flash.present? %>
    <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
<% end %>
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
          <table class="table invoice-table">
            <tbody>
                  <tr>
                      <th>
                    <div class="ii-name">Name</div>
                  </th>
                  <td class=""><div class="ii-name"><%= @gallery_type.name %><span class="pull-right"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_gallery_type_path(@gallery_type),:class => "label label-info table_actions" %></span></div></td>
              </tr>
              <tr>
                <th>
                  <div class="ii-name">Height</div>
                </th>
                <td class=""><%= @gallery_type.height %></td>
              </tr>
              <tr>
                <th>
                  <div class="ii-name">Width</div>
                </th>
                <td class=""><%= @gallery_type.width %></td>
              </tr>
              <tr>
                <th>
                  <div class="ii-name">Is video</div>
                </th>
                <td class=""><%= @gallery_type.is_video %></td>
              </tr>
               <tr>
                <th>
                  <div class="ii-name">Image type</div>
                </th>
                <td class=""><%= @gallery_type.image_type %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="widget widget-blue">
      <div class="widget-title">
         <div class="widget-controls" >
              <%= link_to 'ADD IMAGE TO GALLERY', new_gallery_type_gallery_image_path(@gallery_type),:class => "btn btn-success btn-rounded btn-iconed label label-success table_actions",:style => "color:white" %>
         </div>
         <h3><i class="fa fa-table"></i> Image Gallery</h3>
      </div>
      <div class="widget-content">
           <% if @gallery_type.gallery_images.first.present? %>
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Avatar</th>
                            <th>Title</th>
                            <th>Alt text</th>
                            <th>Link</th>
                            <th>Tags</th>
                            <th>Description</th>
                            <th></th>
                          </tr>
                        </thead>

                        <tbody id="parent-images-cats" class = "sort_images row" data-update-url="<%= sort_gallery_type_gallery_images_path(@gallery_type) %>">
                          <% @gallery_type.gallery_images.each do |gallery_image| %>
                            <%= content_tag_for(:tr, gallery_image, :class => "") do %>
                              <td>
                                      <i class="ace-icon fa fa-arrows handle" style=""></i>
                                     <%= image_tag image_url(gallery_image.avatar.gsub('original','thumb'), :host => "http://www.innboxapi.in") %></td>
                              <td><%= gallery_image.title %></td>
                              <td><%= gallery_image.alt_text %></td>
                              <td><%= gallery_image.link %></td>
                              <td><%= gallery_image.tag_list %></td>
                              <td><%= gallery_image.description %></td>
                              <td>
                                    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_gallery_type_gallery_image_path(@gallery_type,gallery_image),:class => "label label-info table_actions" %>
                                    <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, gallery_type_gallery_image_path(@gallery_type, gallery_image), method: :delete, data: { confirm: 'Are you sure?' },:class => "text-danger label label-danger table_actions" %></td>
                            <% end %>
                          <% end %>
                        </tbody>
                  </table>
                </div>
          <% else %>
                 <div class="text-center">NO IMAGES IN GALLERY</div>
          <% end %>
        </div>
      </div>
      <section id="layout_templates">
      <h1>Ajax call</h1>
      This section covers basic layout components: markup, classes and tags used in the theme for main skin elements. <br/><br/>
      <section id="sidebars">
      <ol>
      <li><strong>Fetch images based on gallery types </strong> <br/>
        <pre class="prettyprint">
          &lt;script&gt;
          $(document).ready(function(){
              $.ajax({
                  url: "http://www.innboxapi.in/api/v1/consumer/gallery_images",
                  data: { "gallery_type_id" : <%= @gallery_type.id %>},
                  type: "GET",
                  dataType: 'text',
                  success: function(data) { 
                    var json = $.parseJSON(data);
                    for (var i = 0; i < json.gallery_images.length; i++) { 
                    var src = "http://www.innboxapi.in/" + json.gallery_images[i].avatar.replace("original", "large"); 
                    $(".ib_<%= @gallery_type.image_type.downcase.gsub(' ', '_') %>_image_type").append("&lt;img src = "+ src +"&gt;") ;
                }
                  },
                  error: function() { alert('Failed!'); },
                  beforeSend: setHeader
              });
            });
            function setHeader(xhr) {
              xhr.setRequestHeader('Authorization', 'Token gChSWs1NvwvwSS4+hSDuwg==');
            }
          &lt;/script&gt;
        </pre>
        <p> The json it returns</p></li>
        <pre class="prettyprint">
        {"gallery_images":[{"id":7,"avatar":"/uploads/7/original_993009_10151731292814369_1211389120_n.jpg?1451893380","gallery_type_id":1,"alt_text":"baby","sort_order":1,"link":"http://coderabbits.com","description":"baby","title":"babies","tag_list":"baby"},{"id":4,"avatar":"/uploads/4/original_shipping-bg.png?1451885203","gallery_type_id":1,"alt_text":"logo","sort_order":2,"link":"http://coderabbits.com","description":"logo","title":"logo","tag_list":"logo"},{"id":5,"avatar":"/uploads/5/original_shipping-bg.png?1451468204","gallery_type_id":1,"alt_text":"logo image","sort_order":3,"link":"http://coderabbits.com","description":"logo image","title":"logo image","tag_list":"logo"},{"id":6,"avatar":"/uploads/6/original_shipping-bg.png?1451885749","gallery_type_id":1,"alt_text":"logo image","sort_order":4,"link":"http://logo image","description":"logo image","title":"logo image","tag_list":"logo, new_tag"}]}</pre>
      <li><strong>Fetch images based on tags </strong> <br/>
        <pre class="prettyprint">
          &lt;script&gt;
          $(document).ready(function(){
              $.ajax({
                  url: "http://www.innboxapi.in/api/v1/consumer/gallery_images",
                  data: { "tag_name" : "baby"},
                  type: "GET",
                  dataType: 'text',
                  success: function(data) { 
                    var json = $.parseJSON(data);
                    for (var i = 0; i < json.gallery_images.length; i++) { 
                    var src = "http://www.innboxapi.in/" + json.gallery_images[i].avatar.replace("original", "large"); 
                    $(".ib_<%= @gallery_type.image_type.downcase.gsub(' ', '_') %>_name").append("&lt;img src = "+ src +"&gt;") ;
                  }
                  },
                  error: function() { alert('Failed!'); },
                  beforeSend: setHeader
              });
            });
            function setHeader(xhr) {
              xhr.setRequestHeader('Authorization', 'Token <%= current_user['access_token'] %>');
            }
          &lt;/script&gt;
        </pre>
        <p> The json it returns</p></li>
      <li><strong>HTML elements you have to paste </strong> <br/>
      <pre class="prettyprint">
      &lt;div class="ib_<%= @gallery_type.image_type.downcase.gsub(' ', '_') %>"&gt;&lt;/div&gt;</pre></li>

       </ol></section>  
  </section>
</div>



<script>
jQuery(function() {
  return $('#parent-images-cats').sortable({
    handle: '.handle',
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });
});
</script>
