<% provide(:title, 'Sign Up') %>
<% if @user.errors.any? %> 
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.messages.each do |message| %>
            <li><%= message[1].first['attribute'] %> <%= message[1].first['message'] %></li>
      <% end %>
      </ul>
    </div>
<% end %><br/>
<%= form_for(@user) do |f| %>
      <div class="form-group relative-w">
        <input type="text" name="user[domain_name]" id="user_domain_name" class="form-control" placeholder="Domain Name (Eg: example.com)" required>
        <i class="fa fa-user input-abs-icon"></i>
      </div>
      <div class="form-group relative-w">
        <input type="email" name="user[email]" id="user_email" class="form-control" placeholder="Enter email">
        <i class="fa fa-envelope input-abs-icon" required></i>
      </div>
      <div class="form-group relative-w">
        <input type="password" name="user[password]" id="user_password" class="form-control" placeholder="Password" required>
        <i class="fa fa-lock input-abs-icon"></i>
      </div>
      <div class="form-group relative-w">
        <input type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control" placeholder="Confirm Password" required>
        <i class="fa fa-lock input-abs-icon"></i>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox"> I agree to <a href="<%= terms_path %>">terms of use</a> and <a href="<%= policy_path %>">policy</a>.
          </label>
        </div>
      </div>
      <%= f.submit "Register Now".html_safe, class: "btn btn-gold btn-rounded btn-iconed" %>
      <div class="no-account-yet">
        Already have an account? <%= link_to "Login", log_in_path %>
      </div>
<% end %>
        