<div class="main-content">
    <ol class="breadcrumb">
      <li class="active">Dashboard</li>
    </ol>
     <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
</div>