<div class="main-content">
      <ol class="breadcrumb">
        <li><a href="<%= dashboard_path %>">Home</a></li>
        <li><a href="<%= users_path %>">Users</a></li>
         <li><a href="<%= user_path(@user) %>"><%= @user.domain_name %></a></li>
        <li class="active">Edit</li>
      </ol>
      <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
      <%= render 'form' %>
</div>