<div class="main-content">
      <ol class="breadcrumb">
        <li><a href="<%= dashboard_path %>">Home</a></li>
        <li class="active">Users</li>
      </ol>
      <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
    <div class="widget widget-orange">
      <div class="widget-title">
            <div class="widget-controls">
            </div>
            <h3><i class="fa fa-table"></i> Users Table</h3>
          </div>
          <div class="widget-content">
            <div class="table-responsive">
            <table class="table table-bordered table-hover" id="users_table">
                  <thead>
                         <tr>
                              <th>No</th>
                              <th>Domain Name</th>
                              <th>Email</th>
                              <th>Role</th>
                              <th>Created At</th>
                              <% if @setting.present? %><th>Verification</th><% end %>
                              <th>Status</th>
                              <th></th>
                         </tr>
                  </thead>
                  <tbody>
                         <% @flag = 1 %>
                         <% @users.each do |user| %> 
                               <tr>
                                      <td><%= @flag %></td>
                                      <td><%= user.domain_name %></td>
                                      <td><%= user.email %></td>
                                      <td><%= user.admin ? 'Admin' : 'User' %></td>
                                      <td><%= Date.parse(user.created_at).strftime("%d %b %Y") %></td>
                                      <% if @setting.present? %><td>  
                                      <% if user.verified == true %>Verified<% else %><%= form_for(user) do |f| %>
                                      <input type="hidden" name="user[verified]" id="verified" value="true"><input type="hidden" name="user[id]" id="verified" value="<%= user.id%>"><%= f.submit "Verify"%><% end %><% end %></td><% end %>
                                      <td>
                                      <% if user.activated? %>
                                      <span class="label label-success">Active</span>
                                      <% else %>
                                      <span class="label label-warning">Inactive</span>
                                      <% end %>
                                      </td>
                                      <td class="text-left">
                                      <%= link_to 'switch'.html_safe, user_path(user,:switch => 1),:class => "text-success label label-success table_actions" %>
                                      <%= link_to '<i class="fa fa-search fa-2"></i>'.html_safe, user_path(user),:class => "text-success label label-success table_actions" %>
                                       <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' },:class => "text-danger label label-danger table_actions" %>
                                      </td>
                                      <% @flag = @flag +1 %>
                                </tr>
                         <% end %>
                   </tbody>
            </table>
      </div>
    </div>
  </div>
</div>


<script>
jQuery(function() {
  var aoColumnDefs = [
    {
      "aTargets": [6,7],
      "bSortable": false
    }
  ];
  var dataTable = $('#users_table').dataTable({
    "aoColumnDefs": aoColumnDefs,
    sPaginationType: "full_numbers"
  });
});
</script>