<div class="login-logo-w">
  <a href="index.html" class="logo" style="font-size:42px;">
    Innbox
  </a>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
          <div class="widget widget-gold">
            <div class="widget-title">
              <h3 class="text-center"><i class="fa fa-lock"></i>Register Now</h3>
            </div>
            <div class="widget-content">
                 <%= render 'form' %>
                 </div>
          </div>
    </div>
</div>
