<div class="main-content">
    <ol class="breadcrumb">
      <li><a href="<%= dashboard_path %>">Home</a></li>
      <li><a href="<%= users_path%>">Users</a></li>
      <li class="active"><%= @user.domain_name %></li>
    </ol>
    <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
     <div class="box">
            <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_pie_chart" data-toggle="tab"><i class="fa fa-bullseye"></i>Account Details </a></li>
                  <li><a href="#tab_table" data-toggle="tab"><i class="fa fa-table"></i> Edit Account</a></li>
                  <li><a href="#change_password" data-toggle="tab"><i class="fa fa-lock"></i> Change Password</a></li>
            </ul>
            <div class="tab-content bottom-margin">
                  <div class="tab-pane active" id="tab_pie_chart">
                        <div class="shadowed-bottom">
                                <div class="row">
                                      <div class="col-sm-3 bordered">
                                        <div class="value-block padded-left text-center">
                                          <div class="value-self"><%= @user.visits %></div>
                                          <div class="value-sub">Total Visits</div>
                                        </div>
                                      </div>
                                      <div class="col-sm-3 bordered">
                                        
                                      </div>
                                      <div class="col-sm-6">
                                        
                                      </div>
                                </div>
                        </div>
                        <div class="padded">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Product</th>
                                      <th>Qty</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Domain Name</td>
                                      <td><%= @user.domain_name %></td>
                                    </tr>
                                    <tr>
                                      <td>Email</td>
                                      <td><%= @user.email %></td>
                                    </tr>
                                    <tr>
                                      <td>Created At</td>
                                      <td><%= Date.parse(@user.created_at).strftime("%d %b %Y") %></td>
                                    </tr>
                                    <tr>
                                      <td>Activated At</td>
                                      <td><%if @user.activated_at.present? %><%= Date.parse(@user.activated_at).strftime("%d %b %Y") %><% else %>NOT YET ACTIVATED<% end %></td>
                                    </tr>
                                    <tr>
                                      <td>Access Token</td>
                                      <td><%= @user.access_token %></td>
                                    </tr>
                                  </tbody>
                                </table>
                                </div>
                          </div>
                        <div class="tab-pane" id="tab_table">
                          <div class="padded">
                              <%= form_for(@user) do |f| %>
                                    <div class="form-group relative-w">
                                      <input type="text" name="user[domain_name]" id="user_domain_name" class="form-control" placeholder="Domain Name (Eg: example.com)" required>
                                      <i class="fa fa-user input-abs-icon"></i>
                                    </div>
                                    <%= f.submit "Update".html_safe, class: "btn btn-success btn-rounded btn-iconed" %>
                                <% end %>
                          </div>
                  </div>
                  <div class="tab-pane" id="change_password">
                          <div class="padded">
                              <%= form_for(@user) do |f| %>
                                      <input type="hidden" name="user[email]" id="user_email" class="form-control" value="<%= @user.email %>">                                    
                                      <div class="form-group relative-w">
                                      <input type="password" name="user[password]" id="user_password" class="form-control" placeholder="Password" required>
                                      <i class="fa fa-lock input-abs-icon"></i>
                                    </div>
                                    <div class="form-group relative-w">
                                      <input type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control" placeholder="Confirm Password" required>
                                      <i class="fa fa-lock input-abs-icon"></i>
                                    </div>
                                    <%= f.submit "Update".html_safe, class: "btn btn-success btn-rounded btn-iconed" %>
                                <% end %>
                          </div>
                  </div>
            </div>
        </div>
  </div>