<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :verify_user %><br>
    <input type="checkbox" name="setting[verify_user]" id="verify_user" value="1">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
