<div class="main-content">
    <ol class="breadcrumb">
      <li><a href="<%= dashboard_path %>">Home</a></li>
      <li class="active">Settings</li>
      <li></li>
    </ol>
    <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
    <div class="widget widget-orange">
      <div class="widget-title">
             <div class="widget-controls" style="margin-top: -10px;">
                <% unless @settings.present? %>
                <%= link_to 'New Setting', new_setting_path,:class => "btn btn-success btn-rounded btn-iconed",:style => "color:white" %>
                 <% end %>
              </div>
            <h3><i class="fa fa-table"></i>Settings</h3>
          </div>
          <div class="widget-content">
            <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Verify User</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                   <% @settings.each do |setting| %>
                         <tr>
                               <td><%= setting.verify_user %></td>
                              <td><%= form_for(setting) do |f| %>  
                              <input type="hidden" name="setting[verify_user]" id="verify_user" value="<%= !setting.verify_user %>"><%= f.submit "Change"%><% end %></td>
                         </tr>
                   <% end %>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>