<div class="main-content">
    <ol class="breadcrumb">
      <li><a href="<%= dashboard_path %>">Home</a></li>
      <li><a href="<%= settings_path %>">Settings</a></li>
      <li class="active">New Setting</li>
    </ol>
     <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
    <%= render 'form' %>
</div>