<% if flash.present? %>
    <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
<% end %>

<p>
  <strong>Verify user:</strong>
  <%= @setting.verify_user %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
