<div class="widget widget-green">
          <div class="widget-title">
            <div class="widget-controls"></div>
            <h3><i class="fa fa-ok-circle"></i> Gallery Image Form</h3>
          </div>
          <div class="widget-content">
              <%= form_for(@gallery_image, :url => gallery_type_gallery_images_path(@gallery_type), validate: true ,:html => {:multipart => true}) do |f| %>
                    <% if @gallery_image.errors.any? %>
                          <div id="error_explanation">
                            <h2><%= pluralize(@gallery_image.errors.count, "error") %> prohibited this gallery_image from being saved:</h2>

                            <ul>
                            <% @gallery_image.errors.full_messages.each do |message| %>
                              <li><%= message %></li>
                            <% end %>
                            </ul>
                           </div>
                    <% end %>

                    <div class="field">
                      <%= f.label :avatar %><br>
                       <input class="form light-form" id="gallery_image_gallery_type_id" name="gallery_image[gallery_type_id]" type="hidden" data-validate="true" value="<%= @gallery_type.id %>">
                       <input class="form light-form" id="gallery_image_avatar" name="gallery_image[avatar]" type="file" data-validate="true">
                    </div><br/>
                    <div class="field">
                      <%= f.label :title %><br>
                       <input class="form-control" id="gallery_image_title" name="gallery_image[title]" placeholder="Title" type="text" data-validate="true">
                    </div><br/>
                    <div class="field">
                      <%= f.label :alt_text %><br>
                      <input class="form-control" id="gallery_image_alt_text" name="gallery_image[alt_text]" placeholder="Alt text" type="text" data-validate="true">
                    </div><br/>
                    <div class="field">
                      <%= f.label :link %><br>
                      <input class="form-control" id="gallery_image_link" name="gallery_image[link]" placeholder="Link" type="text" data-validate="true">
                    </div><br/>
                    <div class="field">
                      <%= f.label :tag_list, "Tags (separated by commas)" %><br />
                      <input class="form-control" id="gallery_image_link" name="gallery_image[tag_list]" placeholder="Tag" type="text" data-validate="true">
                    </div><br/>
                    <div class="field">
                      <%= f.label :description %><br>
                      <textarea id="gallery_image_description" rows="5" name="gallery_image[description]" cols="40" class="form-control" ></textarea>
                    </div><br/>
                    <div class="actions">
                      <%= f.submit "CREATE".html_safe, class: "btn btn-primary btn-rounded btn-iconed save_button" %>
                      <a href="<%= gallery_type_path(@gallery_type) %>" class="button btn btn-default cancel_button"> Cancel </a>
                    </div>
              <% end %>
            </div>
     </div>
