<div class="main-content">
      <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>

  <div class="clearfix ">
  <% content_for(:head) do %>
  <script type="text/javascript" charset="utf-8">
  $(function() {
    $('#cropbox').Jcrop({
      onChange: update_crop,
      onSelect: update_crop,
      setSelect: [0, 0, 100, 100],
      aspectRatio: 0
    });
  });
  function update_crop(coords) {
    var rx = 100/coords.w;
    var ry = 100/coords.h;
    $('#preview').css({
      width: Math.round(rx * <%= Paperclip::Geometry.from_file(image_url(@gallery_image.avatar.gsub('original','large'), :host => "http://www.innboxapi.in")).width %>) + 'px',
      height: Math.round(ry * <%= Paperclip::Geometry.from_file(image_url(@gallery_image.avatar.gsub('original','large'), :host => "http://www.innboxapi.in")).height %>) + 'px',
      marginLeft: '-' + Math.round(rx * coords.x) + 'px',
      marginTop: '-' + Math.round(ry * coords.y) + 'px'
    });
    var ratio = <%= Paperclip::Geometry.from_file(image_url(@gallery_image.avatar, :host => "http://www.innboxapi.in")).width %> / <%= Paperclip::Geometry.from_file(image_url(@gallery_image.avatar.gsub('original','large'), :host => "http://www.innboxapi.in")).width %>;
    $("#crop_x").val(Math.round(coords.x * ratio));
    $("#crop_y").val(Math.round(coords.y * ratio));
    $("#crop_w").val(Math.round(coords.w * ratio));
    $("#crop_h").val(Math.round(coords.h * ratio));
  }
  </script>
  <% end %>

  <%= image_tag image_url(@gallery_image.avatar.gsub('original','large'), :host => "http://www.innboxapi.in"), :id => "cropbox" %>

  <h4>Preview:</h4>
  <div style="width:100px; height:100px; overflow:hidden">
    <%= image_tag image_url(@gallery_image.avatar.gsub('original','large'), :host => "http://www.innboxapi.in"), :id => "preview",:remote => true %>
  </div>
  <%= form_for @gallery_image,:url => gallery_type_gallery_image_path(@gallery_type,@gallery_image) do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
      <%= f.hidden_field attribute, :id => attribute %>
    <% end %><br />
    <p><%= f.submit "Crop", :class => "btn btn-default btn-xs" %></p>
  <% end %>
</div>
</div>