<div class="main-content">
      <ol class="breadcrumb">
        <li><a href="<%= dashboard_path %>">Home</a></li>
        <li><a href="<%= gallery_types_path %>">Image Attributes Control</a></li>
        <li><a href="<%= gallery_type_path(@gallery_type) %>"><%= @gallery_type.name %></a></li>
        <li class="active"><%= @gallery_type.name %> Edit</li>
      </ol>
      <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
      <div class="widget widget-blue">
          <div class="widget-title">
            <div class="widget-controls">
            </div>
            <h3><i class="fa fa-ok-circle"></i>IMAGE ATTRIBUTES & DETAILS</h3>
          </div>
          <div class="widget-content">
                <%= form_for(@gallery_image, :url => gallery_type_gallery_image_path(@gallery_type,@gallery_image), validate: true ) do |f| %>
                  <% if @gallery_image.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@gallery_image.errors.count, "error") %> prohibited this gallery_image from being saved:</h2>

                      <ul>
                      <% @gallery_image.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="field">
                    <%= f.label :avatar %><br>
                    <%= f.file_field :avatar %>
                  </div><br/>
                  <div class="field">
                    <input class="form light-form" id="gallery_image_gallery_type_id" name="gallery_image[gallery_type_id]" type="hidden" data-validate="true" value="<%= @gallery_type.id %>">
                  </div><br/>
                  <div class="field">
                    <%= f.label :title %><br>
                    <%= f.text_field :title,:class => "form-control" %>
                  </div><br/>
                  <div class="field">
                    <%= f.label :alt_text %><br>
                    <%= f.text_field :alt_text,:class => "form-control"  %>
                  </div><br/>
                  <div class="field">
                    <%= f.label :link %><br>
                    <%= f.text_field :link,:class => "form-control"  %>
                  </div><br/>
                   <div class="field">
                    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
                    <%= f.text_field :tag_list,:class => "form-control"  %>
                  </div><br/>
                  <div class="field">
                    <%= f.label :description %><br>
                    <%= f.text_area :description,:class => "form-control" %>
                  </div><br/>
                  <div class="actions">
                     <%= f.submit "Update".html_safe, class: "btn btn-primary btn-rounded btn-iconed update_button" %>
                      <a href="<%= gallery_types_path(@gallery_type) %>" class="button btn btn-default cancel_button"> Cancel </a>
                  </div>
                <% end %>
            </div>
      </div>
</div>


