<div class="main-content">
      <ol class="breadcrumb">
        <li><a href="<%= dashboard_path %>">Home</a></li>
        <li><a href="<%= gallery_types_path %>">Image Attributes Controls</a></li>
        <li><a href="<%= gallery_type_path(@gallery_type) %>"><%= @gallery_type.name %></a></li>
        <li class="active">Image Gallery</li>
      </ol> 
      <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
    <div class="widget widget-blue">
      <div class="widget-title">
            <div class="widget-controls" style="margin-top: -10px;">
                <%= link_to 'ADD IMAGE TO GALLERY', new_gallery_type_gallery_image_path(@gallery_type),:class => "btn btn-success btn-rounded btn-iconed",:style => "color:white" %>
              </div>
            <h3><i class="fa fa-table"></i>IMAGE GALLERY</h3>
          </div>
          <div class="widget-content">
            <div class="table-responsive">
            <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Avatar</th>
                      <th>Alt text</th>
                      <th>Link</th>
                      <th>Description</th>
                      <th>Title</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                        <% @gallery_images.each do |gallery_image| %>
                        <tr>
                            <td><%= image_tag image_url(gallery_image.avatar.gsub('original','thumb'), :host => "http://www.innboxapi.in") %></td>
                            <td><%= gallery_image.alt_text %></td>
                            <td><%= gallery_image.link %></td>
                            <td><%= gallery_image.description %></td>
                            <td><%= gallery_image.title %></td>
                            <td>
                              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_gallery_type_gallery_image_path(@gallery_type,gallery_image),:class => "label label-info table_actions" %>
                              <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, gallery_type_gallery_image_path(@gallery_type, gallery_image), method: :delete, data: { confirm: 'Are you sure?' },:class => "text-danger label label-danger table_actions" %>
                            </td>
                          </tr>
                        <% end %>
                  </tbody>
            </table>
          </div>
        </div>
      </div>
</div>

