<div class="main-content">
      <ol class="breadcrumb">
        <li><a href="<%= dashboard_path %>">Home</a></li>
        <li><a href="<%= gallery_types_path %>">IMAGE ATTRIBUTES & DETAILS</a></li>
        <li><a href="<%= gallery_type_path(@gallery_type) %>"><%= @gallery_type.name %></a></li>
        <li class="active">ADD IMAGE TO GALLERY</li>
      </ol>
      <% if flash.present? %>
            <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
      <% end %>
    <%= render 'form' %>
</div>