<div class="main-content">
  <ol class="breadcrumb">
    <li><a href="<%= dashboard_path %>">Home</a></li>
    <li><a href="<%= gallery_types_path %>">Image Attributes Control</a></li>
    <li><a href="<%= gallery_type_path(@gallery_type) %>"><%= @gallery_type.name %></a></li>
    <li><a href="<%= gallery_type_gallery_images_path(@gallery_type) %>"><%= @gallery_image.title %></a></li>
    <li class="active"><%= @gallery_image.title %></li>
  </ol>
  <% if flash.present? %>
        <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
  <% end %>
  <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
        <p>
          <strong>Avatar:</strong>
           <%= image_tag image_url(@gallery_image.avatar.gsub('original','large'), :host => "http://www.innboxapi.in") %>
        </p>

        <p>
          <strong>Gallery type:</strong>
          <%= @gallery_image.gallery_type_id %>
        </p>

        <p>
          <strong>Alt text:</strong>
          <%= @gallery_image.alt_text %>
        </p>

        <p>
          <strong>Sort order:</strong>
          <%= @gallery_image.sort_order %>
        </p>

        <p>
          <strong>Link:</strong>
          <%= @gallery_image.link %>
        </p>

        <p>
          <strong>Tags:</strong>
          <%= @gallery_image.tag_list %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @gallery_image.description %>
        </p>

        <p>
          <strong>Title:</strong>
          <%= @gallery_image.title %>
        </p>

        <%= link_to 'Edit', edit_gallery_type_gallery_image_path(@gallery_type, @gallery_image) %> |
        <%= link_to 'Back', gallery_type_gallery_images_path(@gallery_type) %>


      </div>
  </div>
  <pre class="prettyprint">
    &lt;script&gt;
      $(document).ready(function(){
        $.ajax({
            url: "http://innboxapi.in/consumer/gallery_images/<%= @gallery_type.id %>",
            data: { },
            type: "GET",
            dataType: 'text',
            success: function(data) { 
              var json = $.parseJSON(data);
              $(".gallery_images").html(json.cms_page.description) 
            },
            error: function() { alert('Failed!'); },
            beforeSend: setHeader
        });
      });
      function setHeader(xhr) {
        xhr.setRequestHeader('Authorization', 'Token <%= current_user['access_token'] %>');
      }
    &lt;/script&gt;
  </pre>
  <script>
    $(document).ready(function(){
      $.ajax({
          url: "http://innboxapi.in/consumer/gallery_images/<%= @gallery_type.id %>",
          data: { },
          type: "GET",
          dataType: 'text',
          success: function(data) { 
            var json = $.parseJSON(data);
            $(".gallery_images").html(json.cms_page.description) 
          },
          error: function() { alert('Failed!'); },
          beforeSend: setHeader
      });
    });
    function setHeader(xhr) {
      xhr.setRequestHeader('Authorization', 'Token <%= current_user['access_token'] %>');
    }
  </script>
</div>

