<!DOCTYPE html>
<html>
<head>
  <% if controller_name == "static_pages" %>
      <title>Innbox</title>
      <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track' => true %>
      <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <%= favicon_link_tag 'favicon.ico' %>
      <%= yield(:head) %>
    </head>
      <%= yield %>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.logo_slider').carouFredSel();
    });
    </script>
  <% else %>
    <title>Innbox Dashboard</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield(:head) %>
    </head>
    <body>
      <% if current_user %>
            <div class="all-wrapper fixed-header left-menu">
                  <%= render "layouts/shared/header"%>
                  <%= render "layouts/shared/sidebar"%>
                 <%= yield %>
            </div>
      <% else %>
          <div class="all-wrapper no-menu-wrapper light-bg">
                <div class="container">
                <% if flash.present? %><br/>
                        <%= render partial: "layouts/shared/flash", locals: {flash: flash} %>
                <% end %>
                </div>
                <%= yield %>
          </div>
      <% end %>
    </body>
  <% end %>
</html>
<script>
$(".menu-toggler").on("click",function(){return $(".all-wrapper").toggleClass("hide-side-menu")});
$("a[data-dismiss='alert']").click(function(){
   $(this).closest(".alert").remove();
})
</script>
<script>
$(document).ready(function() {
  var tour = new Tour({
    steps: [
    {
      element: "#thing1",
      title: "Title of my step",
      content: "Content of my step"
    },
    {
      element: "#thing2",
      title: "Title of my step",
      content: "Content of my step"
    }
  ]});

  // Initialize the tour
  tour.init();

  // Start the tour
  tour.start();
});
</script>
